In [1]:
from util import *
import matplotlib.pyplot as plt
import seaborn as ses

In [2]:
mall_id = "m_690"
train = load_train()
train = train[train.mall_id==mall_id]
test = load_testA()
test = test[test.mall_id == mall_id]
shop_info = load_shop_info()
shop_info = shop_info[shop_info.mall_id == mall_id]

In [4]:
_train_index, _valid_index = get_last_one_week_index(train)

util.py:586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train["i_loc"] = range(train.shape[0])

In [12]:
train.groupby("shop_id")["user_id"].count().reset_index().sort_values(by="user_id")[:10]

       shop_id  user_id
86    s_407043        1
64   s_3806401        1
132   s_878825        2
84   s_4044487        3
48   s_3209667        5
37   s_2628604        6
47   s_3183871        8
66   s_3830245        8
82   s_4000963       13
51   s_3305181       13

In [17]:
train[train.shop_id == "s_878825"]

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,category_id,shop_longitude,shop_latitude,price,mall_id,i_loc
514187,u_14081500,s_878825,2017-08-08 22:40,122.307557,32.023163,b_31247838|-79|false;b_14439290|-88|false;b_32...,c_38,122.34689,31.834329,51,m_690,12544
872209,u_52551894,s_878825,2017-08-08 22:40,122.286859,31.738316,b_24745167|-75|false;b_50409863|-91|false;b_23...,c_38,122.34689,31.834329,51,m_690,20696