In [1]:
from util import *
import matplotlib.pyplot as plt
import seaborn as ses

In [2]:
mall_id = "m_690"
train = load_train()
train = train[train.mall_id==mall_id]
test = load_testA()
test = test[test.mall_id == mall_id]
shop_info = load_shop_info()
shop_info = shop_info[shop_info.mall_id == mall_id]

In [4]:
_train_index, _valid_index = get_last_one_week_index(train)

util.py:586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  train["i_loc"] = range(train.shape[0])

In [12]:
train.groupby("shop_id")["user_id"].count().reset_index().sort_values(by="user_id")[:10]

       shop_id  user_id
86    s_407043        1
64   s_3806401        1
132   s_878825        2
84   s_4044487        3
48   s_3209667        5
37   s_2628604        6
47   s_3183871        8
66   s_3830245        8
82   s_4000963       13
51   s_3305181       13

In [26]:
train[train.shop_id == "s_3806401"]

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,category_id,shop_longitude,shop_latitude,price,mall_id,i_loc
26450,u_4947091,s_3806401,2017-08-28 12:00,122.346702,31.834966,b_4121801|-41|false;b_11909648|-47|false;b_401...,c_1,122.346673,31.834168,57,m_690,1014

In [21]:
train.iloc[_train_index].shop_id.unique().shape

(135,)

In [22]:
train.iloc[_valid_index].shop_id.unique().shape

(132,)

In [23]:
train.shop_id.unique().shape

(137,)