In [1]:
from util import *
import matplotlib.pyplot as plt
import seaborn as ses

In [2]:
train = load_train()
test = load_testA()
shop = load_shop_info()

In [5]:
intersect_user = np.intersect1d(train.user_id.unique(),test.user_id.unique())
union_user = np.union1d(train.user_id.unique(),test.user_id.unique())

In [12]:
intersect_train = train[np.in1d(train.user_id,intersect_user)]
intersect_test = test[np.in1d(test.user_id,intersect_user)]

In [11]:
intersect_train.shape

(260484, 11)

In [16]:
intersect_train.groupby(["user_id","shop_id"]).count()

                      time_stamp  longitude  latitude  wifi_infos  \
user_id    shop_id
u_1000001  s_364305            2          2         2           2
           s_385605            1          1         1           1
           s_410754            1          1         1           1
u_10000233 s_394261            1          1         1           1
u_10001910 s_2939231          23         23        23          23
u_1000253  s_309881            3          3         3           3
           s_555802            2          2         2           2
           s_8203              6          6         6           6
u_10003134 s_475180            1          1         1           1
u_10003920 s_44023             1          1         1           1
u_10004981 s_48282             1          1         1           1
u_10004990 s_852693            4          4         4           4
u_10005735 s_13222             1          1         1           1
           s_2718160           2          2         2           2
u_1000620  s_69656             7          7         7           7
u_10006593 s_1440728           1          1         1           1
u_10007029 s_11611             1          1         1           1
u_10007419 s_364305            1          1         1           1
u_10007448 s_3908468           1          1         1           1
           s_401820            1          1         1           1
           s_410077            1          1         1           1
u_10007968 s_1194830           2          2         2           2
           s_171138            3          3         3           3
           s_3140647           3          3         3           3
           s_4053352           1          1         1           1
u_10008058 s_2528589          24         24        24          24
u_10008307 s_626485            1          1         1           1
u_10008323 s_504703            2          2         2           2
u_1001030  s_1313811           1          1         1           1
           s_2943285           3          3         3           3
...                          ...        ...       ...         ...
u_9981764  s_181637            5          5         5           5
           s_181895            2          2         2           2
           s_183100            1          1         1           1
u_9982683  s_330608            1          1         1           1
u_9984050  s_293610            1          1         1           1
u_998452   s_2331867           1          1         1           1
           s_2404619           1          1         1           1
           s_2640235           1          1         1           1
           s_267504            2          2         2           2
           s_3030986           1          1         1           1
           s_3877848           1          1         1           1
           s_597600            1          1         1           1
           s_838010            1          1         1           1
u_9984855  s_8178              2          2         2           2
u_99864    s_21927             1          1         1           1
u_998768   s_1966525           1          1         1           1
u_9991780  s_3080133           4          4         4           4
u_999235   s_135671            1          1         1           1
u_9992868  s_531846            1          1         1           1
u_99936    s_80298             2          2         2           2
u_9994745  s_23634             1          1         1           1
u_9995217  s_411824            1          1         1           1
u_9996033  s_385605            1          1         1           1
u_999751   s_146097            1          1         1           1
u_9997784  s_4009954           1          1         1           1
u_9998216  s_3792685           1          1         1           1
u_999898   s_853254            1          1         1           1
u_9998995  s_2915009           2          2         2           2
           s_410773            1          1         1           1
u_9999982  s_208751            4          4         4           4

                      category_id  shop_longitude  shop_latitude  price  \
user_id    shop_id
u_1000001  s_364305             2               2              2      2
           s_385605             1               1              1      1
           s_410754             1               1              1      1
u_10000233 s_394261             1               1              1      1
u_10001910 s_2939231           23              23             23     23
u_1000253  s_309881             3               3              3      3
           s_555802             2               2              2      2
           s_8203               6               6              6      6
u_10003134 s_475180             1               1              1      1
u_10003920 s_44023              1               1              1      1
u_10004981 s_48282              1               1              1      1
u_10004990 s_852693             4               4              4      4
u_10005735 s_13222              1               1              1      1
           s_2718160            2               2              2      2
u_1000620  s_69656              7               7              7      7
u_10006593 s_1440728            1               1              1      1
u_10007029 s_11611              1               1              1      1
u_10007419 s_364305             1               1              1      1
u_10007448 s_3908468            1               1              1      1
           s_401820             1               1              1      1
           s_410077             1               1              1      1
u_10007968 s_1194830            2               2              2      2
           s_171138             3               3              3      3
           s_3140647            3               3              3      3
           s_4053352            1               1              1      1
u_10008058 s_2528589           24              24             24     24
u_10008307 s_626485             1               1              1      1
u_10008323 s_504703             2               2              2      2
u_1001030  s_1313811            1               1              1      1
           s_2943285            3               3              3      3
...                           ...             ...            ...    ...
u_9981764  s_181637             5               5              5      5
           s_181895             2               2              2      2
           s_183100             1               1              1      1
u_9982683  s_330608             1               1              1      1
u_9984050  s_293610             1               1              1      1
u_998452   s_2331867            1               1              1      1
           s_2404619            1               1              1      1
           s_2640235            1               1              1      1
           s_267504             2               2              2      2
           s_3030986            1               1              1      1
           s_3877848            1               1              1      1
           s_597600             1               1              1      1
           s_838010             1               1              1      1
u_9984855  s_8178               2               2              2      2
u_99864    s_21927              1               1              1      1
u_998768   s_1966525            1               1              1      1
u_9991780  s_3080133            4               4              4      4
u_999235   s_135671             1               1              1      1
u_9992868  s_531846             1               1              1      1
u_99936    s_80298              2               2              2      2
u_9994745  s_23634              1               1              1      1
u_9995217  s_411824             1               1              1      1
u_9996033  s_385605             1               1              1      1
u_999751   s_146097             1               1              1      1
u_9997784  s_4009954            1               1              1      1
u_9998216  s_3792685            1               1              1      1
u_999898   s_853254             1               1              1      1
u_9998995  s_2915009            2               2              2      2
           s_410773             1               1              1      1
u_9999982  s_208751             4               4              4      4

                      mall_id
user_id    shop_id
u_1000001  s_364305         2
           s_385605         1
           s_410754         1
u_10000233 s_394261         1
u_10001910 s_2939231       23
u_1000253  s_309881         3
           s_555802         2
           s_8203           6
u_10003134 s_475180         1
u_10003920 s_44023          1
u_10004981 s_48282          1
u_10004990 s_852693         4
u_10005735 s_13222          1
           s_2718160        2
u_1000620  s_69656          7
u_10006593 s_1440728        1
u_10007029 s_11611          1
u_10007419 s_364305         1
u_10007448 s_3908468        1
           s_401820         1
           s_410077         1
u_10007968 s_1194830        2
           s_171138         3
           s_3140647        3
           s_4053352        1
u_10008058 s_2528589       24
u_10008307 s_626485         1
u_10008323 s_504703         2
u_1001030  s_1313811        1
           s_2943285        3
...                       ...
u_9981764  s_181637         5
           s_181895         2
           s_183100         1
u_9982683  s_330608         1
u_9984050  s_293610         1
u_998452   s_2331867        1
           s_2404619        1
           s_2640235        1
           s_267504         2
           s_3030986        1
           s_3877848        1
           s_597600         1
           s_838010         1
u_9984855  s_8178           2
u_99864    s_21927          1
u_998768   s_1966525        1
u_9991780  s_3080133        4
u_999235   s_135671         1
u_9992868  s_531846         1
u_99936    s_80298          2
u_9994745  s_23634          1
u_9995217  s_411824         1
u_9996033  s_385605         1
u_999751   s_146097         1
u_9997784  s_4009954        1
u_9998216  s_3792685        1
u_999898   s_853254         1
u_9998995  s_2915009        2
           s_410773         1
u_9999982  s_208751         4

[158508 rows x 9 columns]